Section 2 of my self-made machine learning course: Data cleaning, engineering, and visualization by structuring, preprocessing, and using EDA techniques. Using matplotlib and seaborn for visualization. Using the kaggle Cars4U dataset and the Titanic dataset. https://www.kaggle.com/datasets/sukhmanibedi/cars4u ,

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date

In [62]:
#reading using pd dataframe
data = pd.read_csv("used_cars_data.csv")

#get the shape of the data (rows by cols)
rows, cols = data.shape
print(rows, "rows/entries")
print(cols, "columns/labels")

#head shows the first 5 entries
# data.head()

#tail shows the last 5 entries
# data.tail()

#get information about our data like labels data type and memory usage, etc
# data.info()

#get information about similarities along different axis in the dataset, in this case comparing entries in each col
data.nunique()

#sum the null (empty) elements in for each col, can also do as percentage
data.isnull().sum()
(data.isnull().sum()/(len(data)))*100 #Here we see that there is a lot of data missing about prices making this a potential dependent variable to try and predict

#Lets drop serial number, not influential on the price
data = data.drop(["S.No."], axis=1)

#lets now change and add some features, first add car age, insert after year
data.insert(3, "Age_(Yrs)", date.today().year - data.Year)

#now break the car name into model and make and insert at front
data.insert(0, "Model", data.Name.str.split().str.get(1) + data.Name.str.split().str.get(2)) #first two words are sufficient
data.insert(0, "Make", data.Name.str.split().str.get(0)) #first two words are sufficient

#now drop the old name
data = data.drop(["Name"], axis=1)

#now search for anything weird within data that might need to be fixed before EDA, here checking brands
# print(data.Make.unique())
# print(data.Make.nunique())


#fix mini cooper, land rover, and isuzu brands
data["Make"].replace({"ISUZU": "Isuzu", "Mini": "Mini Cooper","Land":"Land Rover"}, inplace=True)

#now model
# now that we added rover and cooper to make, should remove from model:
data["Model"] = data["Model"].str.replace("Cooper", "")
data["Model"] = data["Model"].str.replace("Rover", "")

#EDA

#get general stats about the dataset
data.describe()
data.describe(include='all').T

#seperate numerical and categorical cols
categorical=data.select_dtypes(include=['object']).columns
numerical = data.select_dtypes(include=np.number).columns.tolist()
print("Categorical Variables:")
print(categorical)
print("Numerical Variables:")
print(numerical)

# data.head()

7253 rows/entries
14 columns/labels
Categorical Variables:
Index(['Make', 'Model', 'Location', 'Fuel_Type', 'Transmission', 'Owner_Type',
       'Mileage', 'Engine', 'Power', 'New_Price'],
      dtype='object')
Numerical Variables:
['Year', 'Age_(Yrs)', 'Kilometers_Driven', 'Seats', 'Price']